:root {
    //---BRAND---//
    --brand: #0c9631;
  
    //---BACKGROUNDS---//
    --bg-1: #fff;
    --bg-2: #f6f6f6;
    --bg-2-translucent: #efefefd8;
    --hover: #ebebeb;
  
    //---TEXT---//
    --t-1: #000;
    --t-2: #545454;
    --ranking-gradient: linear-gradient(45deg, #21903f, #1adb4a, #097626);
  
    //---BORDERS---//
    --bd-1: 1px solid #ebebeb;
    --bd-h: 1px solid #252525;
    --bd-translucent: 1px solid #d6d6d6bf;
  
    //---MISC---//
    --translucent: #000000df;
    --filter: blur(10px) saturate(1);
    --shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      //---BACKGROUNDS---//
      --bg-1: #0f0f0f;
      --bg-2: #181818;
      --bg-2-translucent: #181818d8;
      --hover: #222;
      
      //---TEXT---//
      --t-1: #e0e0e0;
      --t-2: #909090;
      --ranking-gradient: linear-gradient(45deg, #063b14, #1adb4a, #033410);
      
      //---BORDERS---//
      --bd-1: 1px solid #1a1a1a;
      --bd-h: 1px solid #202020;
      --bd-translucent: 1px solid #1a1a1abf;
  
      //---MISC---//
      --translucent: #000000d6;
      --shadow: rgba(50, 50, 50, 0.091) 0px 3px 8px;  
    }
  }