:root {
    //---BRAND---//
    --brand: #25ae6a;
  
    //---BACKGROUNDS---//
    --bg-1: #fff;
    --bg-2: #f6f6f6;
    --bg-2-translucent: #efefefd8;
    --bg-3: #f5f5f5;
    --hover: #ebebeb;
  
    //---TEXT---//
    --t-1: #000;
    --t-2: #545454;
    --ranking-gradient: linear-gradient(45deg, #21903f, #1adb4a, #097626);
  
    //---BORDERS---//
    --bd-1: 1px solid #ebebeb;
    --bd-h: 1px solid #252525;
    --bd-translucent: 1px solid #d6d6d6bf;
  
    //---MISC---//
    --translucent: #000000df;
    --overlay: #171717d6;
    --filter: blur(10px) saturate(1);
    --shadow: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;
    --scrollbar-thumb: #ababab;
    --scrollbar-track: #fafafa;

    //---MEASUREMENTS---//
    --container-inline-padding: calc(50vw - min(1680px, 92.5vw)/2);
  }
  
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      //---BACKGROUNDS---//
      --bg-1: #050505;
      --bg-2: #101010;
      --bg-2-translucent: #181818d8;
      --bg-3: #121212;
      --hover: #222;
      
      //---TEXT---//
      --t-1: #e0e0e0;
      --t-2: #909090;
      --ranking-gradient: linear-gradient(45deg, #063b14, #1adb4a, #033410);
      
      //---BORDERS---//
      --bd-1: 1px solid #1a1a1a;
      --bd-h: 1px solid #202020;
      --bd-translucent: 1px solid #222222bf;
  
      //---MISC---//
      --translucent: #000000d6;
      --overlay: #050505d6;
      --shadow: rgba(50, 50, 50, 0.091) 0px 3px 8px;
      --scrollbar-thumb: #505050;
      --scrollbar-track: #272727;
    }
  }