@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}






//------COLOUR SCHEMES------//
:root {
  //---BRAND---//
  --brand: #0c9631;

  //---BACKGROUNDS---//
  --bg-1: #fff;
  --bg-2: #fafafa;
  --translucent: #111111c4;
  --popup: #050505;

  //---TEXT---//
  --t-1: #000;
  --t-2: #858585;

  //---BORDERS---//
  --bd-1: 1px solid #ebebeb;
  --popup-border: 1px solid #1a1a1a;

  //---MISC---//
  --filter: blur(10px) saturate(1);
  --shadow: rgba(0, 0, 0, 0.091) 0px 3px 8px;
}



@media (prefers-color-scheme: dark) {
  :root {
    //---BACKGROUNDS---//
    --bg-1: #0a0a0a;
    --bg-2: #050505;

    //---TEXT---//
    --t-1: #fff;
    --t-2: #6c6c6c;

    //---BORDERS---//
    --bd-1: 1px solid #1a1a1a;

    //---MISC---//
    --shadow: rgba(50, 50, 50, 0.091) 0px 3px 8px;  
  }
}






//------GENERAL STYLING------//
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,textarea,button{
  border: none;
  background: transparent;
  outline: none;
  color: var(--t-1);

  &::placeholder{
    color: var(--t-2);
  }

  svg{
    stroke: var(--t-1);
  }
  
  &:focus{
    outline: none;
  }
}

.brand{
  color: var(--brand);
}

span.note{
  color: var(--t-2);
  font-size: .75em;
  font-weight: 500;
}

h1{
  font-size: 3em;
  font-weight: 700;
  color: #13960cb5;
  line-height: 1.1em;
}
h2{
  font-size: 2.25em;
  font-weight: 600;
  color: var(--t-1);
  margin-bottom: 10px;
}
h3{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--t-1);
  line-height: 1em;
}
h4{
  font-weight: 500;
  color: var(--t-1);
}
p{
  font-weight: 500;
  color: var(--t-2);
}

a{
  span{
    color: var(--brand);
    width: fit-content;
  }
}






//------PAGE CONTENT------//
body {
  background: var(--bg-1); 
}






//------HEADER AND FOOTER------//
header.global-header{
  display: flex;
  gap: 20px;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background: #000;

  svg{
    stroke: #fff;
  }
}

span.logo{
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  display: flex;
  gap: 4px;
}

footer.global-footer{
  background: #000;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px calc(50vw - min(1680px, 87.5vw)/2) 50px;

  .powered-by{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}





//------SEARCH MENU------//
.overlay,.search-menu-wrapper{
  position: absolute;
}
[aria-hidden="false"] {
  display: flex;
  flex-direction: column;
}
[aria-hidden="true"] {
  display: none;
}
.overlay{
  z-index: 4;
  background: var(--translucent);
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.search-menu-wrapper{
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 5;
  background: var(--popup);
  border-radius: 10px;
  border: var(--popup-border);
  width: calc(100% - 20px);
  max-width: 600px;
  box-shadow: var(--shadow);

  >*{
    padding: 10px;
  }

  .search-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: var(--popup-border);

    input{
      width: 100%;
      font-size: 1.1em;
      color: #fff;
    }

    kbd{
      border: var(--popup-border);
      border-radius: 4px;
      height: 100%;
      padding-inline: 4px;
      aspect-ratio: 1;
      text-align: center;
      font-size: .75em;
      color: #777777;
    }
  }

  .quick-results{
    ul.quick-results-list{
      display: flex;
      flex-direction: column;
      gap: 10px;

      li{
        color: #fff;
      }
    }
  }
}






//------SECTIONS------//
section{
  padding: 50px 0;

  >*{
    padding-inline: calc(50vw - min(1680px, 87.5vw)/2);
  }
}

section.global-top-50{
  .grid-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    header.grid-header{
      display: grid;
      grid-template-columns: 20px 50px 1fr 1fr;
      gap: 20px;
    }
    ul.grid-ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      li.grid-li{
        display: grid;
        grid-template-columns: 20px 50px 1fr 1fr;
        gap: 20px;
        align-items: center;
      }
    }
  }
}

section.new-releases{
  background: var(--bg-2);

  .releases{
    

    ul.new-release-list{
      


      li.new-release-list-item{
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 320px;

        img{
          width: 100%;
          border-radius: 6px;
          border: var(--bd-1);
        }
      }
    }
  }
}

//------SCROLL COMPONENTS------//
.scroll-container{
  display: grid;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
  scroll-padding-inline: calc(50vw - min(1680px, 87.5vw)/2);

  ul.scroll-ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-auto-flow: column;
    width: fit-content;
    gap: 20px;
    scroll-snap-type: x mandatory;

    li.scroll-li{
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 320px;

      img{
        width: 100%;
        border-radius: 6px;
        border: var(--bd-1);
      }

      .info{
        text-wrap-mode: wrap;

        .artist-list{
          display: flex;
          gap: 10px;
        }

        span{
          font-size: 1.1em;
          font-weight: 500;
          color: var(--t-1);
        }

        a:hover{
          span{
            color: var(--brand);
          }
        }
      }
    }
  }
}




//------MEDIA QUERIES------//
@media screen and (max-width: 550px) {
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 1.75em;
  }
  .scroll-container{
    ul.scroll-ul{
      grid-template-columns: repeat(auto-fill, 250px);

      li.scroll-li{
        width: 250px;
      }
    }
  }
}